fullnameOverride: ""
nameOverride: ""
cala:
  ingress:
    enabled: false
  resources: {}
  tracing:
    serviceName: cala-dev
    otelExporterOtlpEndpoint: "http://localhost:4317"
  app:
    jobExecution:
      pollInterval: 20
  db:
    poolSize: 20
  server:
    service:
      type: ClusterIP
      port: 2252
      staticIP: ""
      annotations: {}
  labels: {}
  image:
    repository: us.gcr.io/galoyorg/cala
    digest: "sha256:ec7709e4b0741eeea1f943ffcffa8ece39284459b2d2ebc11c8d40f5c22211ed" # METADATA:: repository=https://github.com/GaloyMoney/cala;commit_ref=a232208;app=cala;
  replicas: 2
  annotations:
  secrets:
    create: true
    pgCon: ""
    annotations:
  extraEnvSecrets: {}
  extraEnvs: {}
  cmd: cala-server
postgresql:
  enabled: true
  auth:
    enablePostgresUser: false
    username: cala
    password: cala
    database: cala
resources: {}
