fullnameOverride: ""
nameOverride: ""
cala:
  ingress:
    enabled: false
  resources: {}
  tracing:
    serviceName: cala-dev
    otelExporterOtlpEndpoint: "http://localhost:4317"
  app:
    jobExecution:
      pollInterval: 20
  db:
    poolSize: 20
  server:
    service:
      type: ClusterIP
      port: 2252
      staticIP: ""
      annotations: {}
  labels: {}
  image:
    repository: us.gcr.io/galoyorg/cala
    digest: "sha256:bbd215ffac314e7425a7963fdf624bd085516d13c8fda3df6682a915a015c313" # METADATA:: repository=https://github.com/GaloyMoney/cala;commit_ref=c0ce276;app=cala;
  replicas: 2
  annotations:
  secrets:
    create: true
    pgCon: ""
    annotations:
  extraEnvSecrets: {}
  extraEnvs: {}
  cmd: cala-server
postgresql:
  enabled: true
  auth:
    enablePostgresUser: false
    username: cala
    password: cala
    database: cala
resources: {}
