kubemonkey:
  fullnameOverride: ${kubemonkey_fullname_override}
cert-manager:
  crds:
   enabled: false
traefik:
  ingressClass:
    enabled: false
  rbac:
    namespaced: true
opentelemetry-collector:
  clusterRole:
    create: false
  mode: deployment
